<!DOCTYPE html>
<html lang="en">

<head>
    <title>Giới thiệu đề tài - Công nghệ mới</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="{{url_for('static', filename='vendor/4.3.1/js/bootstrap.min.js')}}"></script>
    <!--Online bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        img {
            width: 450px;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid bg-dark py-2">
        <nav style="height: 10vh;" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/">Nhóm 8</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Presentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/demo">Demo</a>
                </li>
            </ul>
        </nav>
        <div id="banner" style="height: 48vh;" class="jumbotron text-center">
            <h1><u>Đề tài:</u> Vườn cây thông minh</h1>
            <p>Vận dụng môn học Công nghệ mới trong Công nghệ Thông tin vào việc xây
                dựng mô hình <strong>Vườn cây thông minh</strong>.
            </p>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        <h4>1. Giới thiệu đề tài</h3>
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>Mô hình <strong> Vườn cây thông minh </strong> là sự mô phỏng một vườn cây thực tế,
                                    được chăm sóc và giám sát thông qua
                                    giao diện người dùng - Web GUI và Mobile Application, là sự vận dụng công nghệ IoT
                                    trong việc chăm sóc
                                    cây trồng.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p>Đề tài được thực hiện dựa trên mô hình <strong> Client - Server - IoT
                                        Devices</strong>, trong đó:
                                    <ul>
                                        <li>
                                            <p><strong>Client</strong>: cung cấp giao diện người dùng, người dùng có thể
                                                giám sát, điều khiển các thiết bị của mình thông qua
                                                kết nối internet tới máy chủ.</p>
                                        </li>
                                        <li>
                                            <p><strong>Server</strong>: thường là các máy chủ cloud, là thành phần trung
                                                gian giữa người dùng và các
                                                thiết bị IoT, cung cấp dịch vụ web, tiếp nhận và xử lý yêu cầu của người
                                                dùng, cầu nối giao tiếp của các thiết bị với người dùng
                                                và giữa các thiết bị với nhau. Nói cách khác, máy chủ có nhiệm vụ xử lý
                                                nghiệp vụ, logic.</p>
                                        </li>
                                        <li>
                                            <p><strong>IoT Devices</strong>: Là các thiết bị, cảm biến có nhiệm vụ thu
                                                thập dữ
                                                liệu môi trường và gửi lên máy chủ, nhận lệnh điều khiển từ người dùng
                                                (thông qua server).</p>
                                        </li>
                                    </ul>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p>Thông qua đề tài, ngoài các kiến thức được học trong môn <strong> Công nghệ mới trong
                                        Công nghệ Thông tin</strong> như lập trình nhúng,
                                    mỗi thành viên sẽ cần củng cố lại các kiến thức liên quan đến lập trình ứng dụng,
                                    thiết kế và triển khai giải thuật,
                                    mạng máy tính, hệ điều hành, khả năng làm việc nhóm và trách nhiệm của mỗi thành
                                    viên</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <h4>2. Công nghệ sử dụng</h3>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6>Arduino</h6>
                                <ul>
                                    <li>Arduino là một nền tảng mở, gồm mã nguồn và chi tiết thiết kế. </li>
                                    <li>Ngôn ngữ lập trình của Arduino được thiết kế dựa trên nền tảng của C++ giúp tận
                                        dụng được sức mạnh
                                        của ngôn ngữ này.</li>
                                    <li>Arduino phù hợp với giáo dục vì tính đơn giản của nó, mã nguồn có sẵn, thiết kế
                                        phù hợp cho việc chỉnh sửa,
                                        hoặc có thể sử dụng ngay mà không cần quan tâm đến các yếu tố về điện tử.</li>
                                    <li>Bên cạnh những ưu điểm của mình, Arduino cũng tồn tại những nhược điểm như:
                                        Không có tính chuyên dụng,
                                        không phù hợp với môi trường bên ngoài thí nghiệm, khả năng chịu lỗi kém, không
                                        đảm bảo được các yêu cầu về bảo mật.
                                    </li>
                                    <li>Có thể kết nối với nhiều loại cảm biến, bên cạnh đó có nhiều càm biến được xây
                                        dựng trên nền tảng của Arduino.</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h6>Raspberry Pi 3</h6>
                                <ul>
                                    <li>Được phát triển bởi Raspberry Pi Foundation – là tổ chức phi lợi nhuận với tiêu
                                        chí xây dựng hệ thống mà nhiều người có thể sử dụng được trong những công việc
                                        tùy biến khác nhau.</li>
                                    <li>Là một máy tính mini, chạy hệ điều hành nhân Linux.</li>
                                    <li>Được ứng dụng mạnh mẽ trong thực tế, thường được sử dụng như máy chủ cho các
                                        thiết bị thông minh trong gia đình.</li>
                                    <li>Khắc phụ được hầu hết các nhược điểm của nền tảng Arduino</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h6>Các thành phần phục vụ đề tài</h6>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <col width="50%">
                                        <col width="50%">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Phần cứng / phần mềm</th>
                                                <th>Mô tả</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="{{url_for('static', filename='img/raspberry.jpg')}}"
                                                        alt="Raspberry Pi 3" class="img-fluid">
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>Máy chủ web cục bộ</li>
                                                        <li>Đóng vai trò là một gateway</li>
                                                        <li>Máy chủ cục bộ của các thiết bị</li>
                                                        <li>Có 40 GPIOs</li>
                                                        <li>Sử dụng nguồn 5V - 2.5A</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="{{url_for('static', filename='img/arduino.jpg')}}"
                                                        alt="Arduino Uno R3" class="img-fluid">
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>Đọc và xử lý dữ liệu từ cảm biến</li>
                                                        <li>Tiếp nhận lệnh từ phía người dùng thông qua server và
                                                            gateway, thực hiện điều khiển thiết bị</li>
                                                        <li>Tự động hóa hoạt động của các thiết bị, cảm biến dựa trên
                                                            kịch bản được lập trình sẵn</li>
                                                        <li>Sử dụng ngôn ngữ dựa trên C++</li>
                                                        <li>Sử dụng nguồn 5VDC - 2.5A</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="{{url_for('static', filename='img/pumper.jpg')}}"
                                                        alt="Máy bơm" class="img-fluid">
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>Điều khiển lượng nước để tưới cây</li>
                                                        <li>Sử dụng nguồn 3-5VDC</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="{{url_for('static', filename='img/dth.jpg')}}"
                                                        alt="Cảm biến nhiệt độ, độ ẩm" class="img-fluid">
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>Xác định các thông số về nhiệt độ, độ ẩm của môi trường</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="{{url_for('static', filename='img/mq5.jpg')}}"
                                                        alt="Cảm biến không khí" class="img-fluid">
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>Cảm biến về chất lượng không khí</li>
                                                        <li>Xác định các thành phần của không khí</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="{{url_for('static', filename='img/servo.jpg')}}"
                                                        alt="Cảm biến không khí" class="img-fluid">
                                                </td>
                                                <td>
                                                    <ul>
                                                        <li>Tạo góc quay 180<sup>0</sup></li>
                                                        <li>Sử dụng cho cánh cửa trong mô hình</li>
                                                        <li>Sử dụng nguồn 3-5VDC</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        <h4>3. Quá trình thực hiện đề tài</h3>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <col width="20%">
                                <col width="50%">
                                <col width="30%">
                                <thead>
                                    <tr class="text-center">
                                        <th>Thời gian</th>
                                        <th>Nội dung công việc và người phụ trách</th>
                                        <th>Kết quả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>30/07/2019 - 05/08/2019</td>
                                        <td>
                                            <ul>
                                                <li>Xác định thành lập bổ sung các thành viên, ổn định số lượng thành
                                                    viên nhóm</li>
                                                <li>Xác định đề tài, xác định mục tiêu môn học</li>
                                                <li>Mua thiết bị, chi tiết, phụ kiện, đồ dùng cần thiết</li>
                                                <li>Làm quen với Arduino và Raspberry, tìm hiểu về cấu tạo phần cứng và
                                                    phần mềm hỗ trợ</li>
                                                <li>Tìm hiểu ứng dụng của IoT trong thực tế</li>
                                                <li>Xây dựng các giải pháp phục vụ cho đề tài</li>
                                                <li>Viết báo cáo hàng tuần</li>
                                                <li>Tìm hiểu về các phần mềm, thư viện, công cụ phục vụ cho đề tài</li>
                                                <li>Tìm hiểu về các nền tảng cloud phục vụ cho đề tài</li>
                                                <li>Tìm hiểu các công nghệ mới có thể hỗ trợ cho đề tài</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Xác định được mục tiêu của đề tài</li>
                                                <li>Xác định được những yêu cầu phải có để thực hiện đề tài</li>
                                                <li>Xác định được các phần cứng quan trọng trong việc thực hiện đề tài
                                                </li>
                                                <li>Phân chia các vai trò phù hợp với mỗi thành viên</li>
                                                <li>Hoàn thành việc mua thiết bị phục vụ cho môn học và đề tài</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>06/08/2019 - 20/08/2019</td>
                                        <td>
                                            <ul>
                                                <li>Nhóm cùng nhau thực hiện các bước cài đặt và cấu hình Raspberry</li>
                                                <li>Tìm hiểu về thư viện RPi, lập trình Python đọc dữ liệu từ cảm biến
                                                </li>
                                                <li>Làm bài tập và báo cáo hàng tuần</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Nắm rõ được cách cài đặt, cấu hình, vận hành Raspberry</li>
                                                <li>Sử dụng Python để giao tiếp với cảm biến</li>
                                                <li>Xây dựng Python script để đọc dữ liệu từ cảm biến, điều khiển thiết
                                                    bị.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>21/08/2019 - 09/09/2019</td>
                                        <td>
                                            <ul>
                                                <li>Tìm hiểu về nền tảng phần cứng, phần mềm của Arduino, các công cụ,
                                                    thiết bị hỗ trợ: Tìm hiểu về ngôn ngữ Arduino, Arduino IDE; Tìm hiểu
                                                    về cấu tạo của Arduino Uno R3;
                                                    Giao tiếp không dây với Arduino thông qua module Bluetooth HC-06.
                                                </li>
                                                <li>
                                                    Giao tiếp giữa Raspbery Pi 3 với Arduino thông qua giao tiếp Serial,
                                                    Bluetooth: Tìm hiểu về thư viện PySerial của ngôn ngữ Python.
                                                </li>
                                                <li>Làm báo cáo hàng tuần</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Hiểu được cấu tạo của Arduino, lập trình Arduino đọc dữ liệu từ cảm
                                                    biến,
                                                    điều khiển động cơ L298.
                                                </li>
                                                <li>Sử dụng PySerial để giao tiếp với Arduino thông qua Serial và
                                                    Bluetooth.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>09/09/2019 - 17/09/2019</td>
                                        <td>
                                            <ul>
                                                <li>Tìm hiểu về Thingspeak hỗ trợ cho việc truyền dữ liệu vào môi trường
                                                    internet và visualize data</li>
                                                <li>Tìm hiểu về các giao thức hỗ trợ IoT</li>
                                                <li>Thực hành lập trình Python nhận dữ liệu từ Arduino, truyền dữ liệu
                                                    lên Thingspeak và hiển thị lên biểu đồ</li>
                                                <li>Viết báo cáo hàng tuần</li>
                                                <li>Lên kế hoạch phân chia công việc để làm dự án nhóm</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Hiểu được quá trình truyền dữ liệu lên một nền tảng IoT, visualize
                                                    data trên Thingspeak</li>
                                                <li>Hiểu được cách hoạt động của các giao thức hỗ trợ IoT: http,
                                                    socket/tcp, mqtt</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>01/10/2019 - 29/10/2019</td>
                                        <td>
                                            <ul>
                                                <li>Tìm hiểu về Google Cloud IoT Core, viết báo cáo.</li>
                                                <li>Cài đặt Cloud IoT Core gateway trên Raspberry</li>
                                                <li>Truyền dữ liệu từ Raspberry (gateway) lên Google Cloud</li>
                                                <li>Viết báo cáo hàng tuần</li>
                                                <li>Trình bày nội dung tìm hiểu theo yêu cầu của giảng viên hướng dẫn
                                                </li>
                                                <li>Bổ sung nguyên liệu cho việc xây dựng mô hình</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Hiểu được ý nghĩa của cloud đối với IoT</li>
                                                <li>Demo gateway với Raspberry và truyền dữ liệu lên một mqtt server -
                                                    Google Cloud</li>
                                                <li>Hoàn thành bài báo cáo</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>05/11/2019 - 26/11/2019</td>
                                        <td>
                                            <ul>
                                                <li>Xây dựng mô hình vườn cây và lắp đặt các thiết bị, cảm biến</li>
                                                <li>Thiết kế thư viện (cấu trúc dữ liệu, thuật toán), quy tắc giao tiếp
                                                    giữa các thành phần của dự án</li>
                                                <li>Phác thảo giao diện ứng dụng người dùng</li>
                                                <li>Tìm kiếm, cài đặt các thư viện hỗ trợ</li>
                                            </ul>
                                        </td>
                                        <td>Hoàn thành 70% công việc</td>
                                    </tr>
                                    <tr>
                                        <td>27/11/2019 - 07/12/2019</td>
                                        <td>
                                            <ul>
                                                <li>Triển khai thuật toán, cài đặt chương trình cho thiết bị</li>
                                                <li>Xây dựng website, kiểm thử và gỡ lỗi</li>
                                                <li>Viết báo cáo</li>
                                                <li>Thiết kế poster</li>
                                            </ul>
                                        </td>
                                        <td>Hoàn thành đề tài</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        <h4>4. Kết quả và ý nghĩa của đề tài</h3>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5>Ưu điểm</h5>
                                <ul>
                                    <li>Trải nghiệm quá trình xây dựng và phát triển một dự án IoT thực tế</li>
                                    <li>Cải thiện khả năng làm việc nhóm cho mỗi thành viên</li>
                                    <li>Nắm được kiến thức môn học</li>
                                    <li>Cải thiện kỹ năng tìm hiểu, phân tích vấn đề</li>
                                    <li>Đề tài môn học có ý nghĩa thực tiễn</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h5>Hạn chế:</h5>
                                <ul>
                                    <li>Còn hạn chế thời gian để hoàn thành chi tiết cũng như các thành phần của mô hình
                                        và ứng dụng vào thực tế</li>
                                    <li>Cách tổ chức dự án còn chưa phù hợp, cần cải thiện nếu muốn mở rộng sau này</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h5>Hướng phát triên</h5>
                                <ul>
                                    <li>Từ mô hình và các công nghệ phát triển thành hệ thống nông trại thông minh, vườn
                                        thông minh, và hệ thống nông nghiệp thông minh</li>
                                    <li>Ứng dụng vào phát triển cây công nghiệp lâu năm như cà phê, hồ tiêu</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="card-link" href="demo">
                        <h4>5. Demo</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>